asyncio
ffmpeg-python
py-tgcalls==0.9.5
pyrogram==1.4.16
git+https://github.com/yt-dlp/yt-dlp@master
youtube-search-python==1.4.9
youtube-search
httpx==0.13.3
python-dotenv
gitpython
aiofiles
aiohttp
aiofiles
asyncio
TgCrypto
pyrogram
py-tgcalls==0.8.2
requests
aiohttp
aiofiles
asyncio
wget
yt-dlp
python-dotenv
gTTS
googletrans==4.0.0rc1
